<nav class="navbar navbar-expand-sm  navbar-dark bg-light fixed-top"> <!-- navbar-expand-sm -->
    <div class="container">
        <h4 class="navbar-brand custom" >MY APP</h4>
        <ul class="navbar-nav">
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item">
                <a [routerLink]="['/post']" class="nav-link custom">Home</a>
            </li>

            <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item">
                    <a [routerLink]="['/user/']" class="nav-link custom">Signup/Login</a>
            </li>

            <li [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" class="nav-item">
                        <a [routerLink]="['/about']" class="nav-link custom">About</a>
            </li>
        </ul>
    </div>
</nav>