.username-aria {
    border : 2px ridge #1FE0D7 ;
    display: inline-block;
    margin-top : 100px ;
    padding : 20px 50px 20px 50px ;
    border-radius: 50px ;
    padding-right: 25px ;
    float  :left ;
    margin-right: 500px ;

}
.lead {
    margin-bottom: 0 !important;
}
#signup {
    border-radius: 25px;
    margin-top: 10px ;
    margin-left : 20px ;

}